.env
__pycache__/
*.pyc
*.log
*.tmp
*.git
*.idea
*.vscode
node_modules/
build/
dist/
venv/
*.egg-info/
*.egg
.coverage
.tox/
*.tmp
*.bak
*.swp
*.swo
.DS_Store
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
*.csv
*.json
*.xml
*.yml
*.yaml
*.ini
*.cfg
*.conf
*.properties
*.db
*.db3
*.sqlite
*.sqlite3
*.sql
*.mdb
*.accdb
*.dbf
*.odb
*.sqlite-journal
*.sdb
*.sdc
*.sdd
*.sde
*.sdf
*.sdg
*.sdh
*.sdj
*.sdk
*.sdl
*.sdm
*.sdn
*.sdo
*.sdp
*.sdq
*.sdr
*.sds
*.sdt
*.sdu
*.sdv
*.sdw
*.sdx
*.sdy
*.sdz
*.md
*.rst
*.txt
*.markdown
*.ipynb
*.ipynb_checkpoints
*.gitignore
*.gitattributes
*.gitmodules
*.gitkeep
*.git
*.svn
*.hg
*.bzr
*.cvs
*.CVS
*.bzrignore
*.hgignore
*.gitignore_global
*.hgignore_global
*.bzrignore_global
*.cvsignore
*.cvsignore
*.bzr-tmp
*.hg-store
*.cvs
*.svn
*.idea
*.DS_Store
*.AppleDouble
*.LSOverride
*.Trash
*.ehthumbs.db
*.ehthumbs_vista.db
*.Thumbs.db
*.Thumbs
*.ehthumbs
*.ehthumbs_vista
*.AppleDouble
*.AppleSingle
*.AppleDB
*.AppleDesktop
*.ApplePartitionMap
*.ApplePartitionMapBinary
*.ApplePartitionMapText
*.AppleBinaryPropertyList
*.AppleTextPropertyList
*.AppleXMLPropertyList
*.AppleBinaryPlist
*.AppleTextPlist
*.AppleXMLPlist
*.plist
*.xmp
*.xmpmeta
*.xmpkit
*.xmpsdk
*.xmpspec
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw
*.xmpx
*.xmpy
*.xmpz
*.xmp_
*.xmpa
*.xmpb
*.xmpc
*.xmpd
*.xmpe
*.xmpf
*.xmpg
*.xmph
*.xmpi
*.xmpj
*.xmpk
*.xmpl
*.xmpm
*.xmpn
*.xmpo
*.xmpp
*.xmpq
*.xmpr
*.xmps
*.xmpt
*.xmpu
*.xmpv
*.xmpw